.my-button {
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background-color: #ffc477;
    border-radius: 6px;
    border: 1px solid #eeb44f;
    cursor: pointer;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
}

.middle-buttom {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto
}

.my-button:hover {
    background-color: #fb9e25;
}

.my-button:active {
    position: relative;
    top: 1px;
}