*,
*:after,
*:before {
    box-sizing: border-box;
    font-size: 14px;
    font-family: Verdana;
}

.background-general {
    background: linear-gradient(to left, #fff8e8, #f3f0ee);
}

.self-name {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}