*,
*:after,
*:before {
    font-size: 14px;
    font-family: Verdana;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    border-radius: 5px;
    background-color: rgb(238, 231, 231);
    margin: 18px;
    padding: 10px 0rem;
    max-width: 600px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.sub-container {
    padding: 1px 8px;
}

.sub-container-short {
    padding: 1px 8px;
    width: 240px;
}

.sub-container-tag {
    display: flex;
    padding: 4px 3px;
    font-style: italic;
    align-items: center;
}

img {
    border-radius: 5px 5px 0 0;
}

.text-align-ver {
    display: flex;
}

.top-card {
    text-align: center;
}

.padding-standard {
    padding: 0px 12px;
}

.order-cards {
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.p-tittle {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.pad-selector {
    margin: 10px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}