<h1 class="p-tittle">List</h1>

<hr>

<div class="pad-selector">
    <label for="">Search by name: </label>
    <input type="text" (keyup)="useFilter($event)">
</div>


<div class="pad-selector">
    <label for="select">Tags: </label>
    <select name="" id="select" (change)="useTagFilter($event)">
    <option value="All">All</option>
    <option [value]="tag" *ngFor="let tag of tags" >{{tag}}</option>
    </select>
</div>

<div class="pad-selector">
    <label for="active">Actives: </label>
    <input type="checkbox" id="active" [checked]="showActives" (change)="showActives = !showActives">
</div>

<hr>

<div>
    <div *ngFor="let item of filteredList" class="order-cards">
        <div class="card" *ngIf="item.isActive || !showActives">
            <div>
                <div>
                    <div class="top-card">
                        <img [src]="item.picture" alt="user-img">
                    </div>
                </div>
                <div class="container">
                    <h3>Name: <span>{{item.name}}</span></h3>
                    <div class="text-align-ver">
                        <div class="sub-container-short">
                            <p><b>Balance: </b> {{item.balance}}</p>
                            <p><b>Age: </b>{{item.age}}</p>
                            <p><b>Eyes: </b> {{item.eyeColor}}</p>
                            <p><b>Gender: </b> {{item.gender}}</p>
                            <p><b>Company: </b> {{item.company}}</p>
                        </div>
                        <div class="sub-container-short">
                            <p><b>Email: </b> {{item.email}}</p>
                            <p><b>Phone: </b>{{item.balance}}</p>
                            <p><b>Address: </b> {{item.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container text-align-ver">
                <h5>Friends: </h5>
                <p *ngFor="let friend of item.friends" class="sub-container-tag"> {{friend.name}} </p>
            </div>
            <div class="container text-align-ver">
                <h5>Tags: </h5>
                <p *ngFor="let tag of item.tags" class="sub-container-tag"> {{tag}}</p>
            </div>
        </div>
    </div>
</div>